<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Employee Recognition Portal by CCH Inc.</span>       
</nav>
<div class="container" style="margin-top:125px;">
	<div style="margin-bottom:100px;">
		<h3>Forgot your password? No problem! Just give us your email and we'll reset that for you.</h3>
	</div>
    <div align="center">
        <div class="col-6">
            <div class="container justify-content-center mt-3 w-75 card card-body" style="margin-left:75px;">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="Email">Username (Email address)</label>
                        <input type="email" class="form-control" name="EmailRecovery" id="EmailRecovery" aria-describedby="emailHelp" placeholder="test@sample.com" required>
                    </div>
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" class="btn btn-info">Send Recovery Email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>