<script src="/static/scripts/home.js"></script>

<div class="container">
  <h4>Hey Hey Its our app.</h4>
  <button id="emailButton">Click Here to send email</button>
  <br/>
  <label id="emailLabel"></label>
    <br/>
  <label>This is the user table...</label>
  <div class="row">
    <div id="content"></div>
  </div>

</div>