<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Employee Recognition Portal by CCH Inc.</span>       
</nav>
<div class="container" style="margin-top:125px;">
	<div style="margin-bottom:100px;">
		<h3>Please enter your new password.</h3>
	</div>
    <div align="center">
        <div class="col-6">
            <div class="container justify-content-center mt-3 w-75 card card-body" style="margin-left:75px;">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="password">Enter New Password</label>
                        <input type="password" class="form-control" name="password" id="password" aria-describedby="emailHelp"  required>
                    </div>
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" class="btn btn-info">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>