<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Employee Recognition Portal by CCH Inc.</span>       
</nav>
<div class="container" style="margin-top:125px;">
	<div style="margin-bottom:100px;">
		<h3>Unauthorized</h3>
    <p>
      I'm sorry but you are not authorized to access this page. Please <a href="/">Click Here</a> to log in.
    </p>
    
	</div>
    
</div>