<div class="container" style="margin-top:100px;">
    <h1 class="text-center">Welcome to the User Site</h1>
</div>
<div class="container">
    <h3 class="text-center">What would you like to do?</h3>
</div>
<div class="container" style="margin-top:100px;">
    <div class="dropdown">
        <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 16px;">
          User Information
        </button>
        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/editUserInfo">Edit User Information</a>
          <a class="dropdown-item" href="/editUserSig">Edit User Signature</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 16px;">
          Awards
        </button>
        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/createAward">Create and Send an Award</a>
          <a class="dropdown-item" href="/awards">View or Delete Existing Awards</a>
        </div>
    </div>
    <a href="/currentTopEmployees" class="btn btn-info btn-lg btn-block mt-3">Current Top Employees</a>
</div>